In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
import time

In [2]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get("https://www.whats-on-netflix.com/library/series/")
# After the page loads, click on the drop down to select 100
# Then wait to run the next bit of code

In [3]:
dfs = []

In [28]:
html = driver.page_source
soup = bs(html, 'html.parser')
dfs.append(pd.read_html(html)[0])
len(dfs)

25

In [30]:
df = pd.DataFrame(columns=['Unnamed: 0', 'Cover', 'Title Name', 'Language','Released', 'Rating', 'IMDb'])
df

Empty DataFrame
Columns: [Unnamed: 0, Cover, Title Name, Language, Released, Rating, IMDb]
Index: []

In [31]:
for x in dfs:
    df = pd.concat([df,x], axis=0)
df

,Unnamed: 0,Cover,Title Name,Language,Released,Rating,IMDb
0,NaN,NaN,#ABTalks,English,NaN,TV-PG,NaN
1,NaN,NaN,#blackAF,English,NaN,TV-MA,6.8/10
2,NaN,NaN,(Un)Well,English,NaN,TV-MA,6.4/10
3,NaN,NaN,100 Days My Prince,Korean,NaN,TV-14,NaN
4,NaN,NaN,100 Humans,English,NaN,TV-14,5.6/10
...,...,...,...,...,...,...,...
28,NaN,NaN,Zoey 101,English,NaN,TV-Y7,NaN
29,NaN,NaN,Zona Rosa,Spanish,NaN,TV-MA,5.8/10
30,NaN,NaN,Zoo,English,NaN,TV-14,6.8/10
31,NaN,NaN,Zumbo's Just Desserts,English,NaN,TV-PG,6.9/10
32,NaN,NaN,​SAINT SEIYA: Knights of the Zodiac,Japanese,NaN,TV-14,4.5/10

In [32]:
df = df.reset_index().drop(columns=['Unnamed: 0', 'Cover', 'index']).to_csv('resources/netflix_shows.csv', index=False)
df

In [ ]:
df