In [61]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
import time

In [2]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get("https://www.whats-on-netflix.com/library/movies/")

In [3]:
# Wait until page fully loads to run this code
driver.find_element_by_partial_link_text('full list').click()

In [4]:
# Wait until page fully loads to run this code
driver.back()

In [5]:
driver.fullscreen_window()

In [6]:
df = pd.DataFrame(columns=['Unnamed: 0', 'Cover', 'Title Name', 'Language','Released', 'Rating', 'IMDb'])
df

Empty DataFrame
Columns: [Unnamed: 0, Cover, Title Name, Language, Released, Rating, IMDb]
Index: []

In [10]:
dfs = []

In [51]:
html = driver.page_source
soup = bs(html, 'html.parser')
dfs.append(pd.read_html(html)[0])
len(dfs)

41

In [56]:
for x in dfs:
    df = pd.concat([df,x], axis=0)
df

,Unnamed: 0,Cover,Title Name,Language,Released,Rating,IMDb
0,NaN,NaN,#Alive,Korean,2020,TV-MA,6.2/10
1,NaN,NaN,#AnneFrank - Parallel Stories,English,2019,TV-14,NaN
2,NaN,NaN,#FriendButMarried,Indonesian,2018,TV-G,7.1/10
3,NaN,NaN,#FriendButMarried 2,Indonesian,2020,TV-G,NaN
4,NaN,NaN,#realityhigh,English,2017,TV-14,5.2/10
...,...,...,...,...,...,...,...
75,NaN,NaN,Zozo,Arabic,2005,TV-MA,NaN
76,NaN,NaN,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,English,2019,TV-MA,7.4/10
77,NaN,NaN,'76,English,2016,TV-PG,NaN
78,NaN,NaN,'83,Hindi,2021,TV-14,NaN
79,NaN,NaN,"¡Ay, mi madre!",Spanish,2019,TV-MA,3.8/10

In [57]:
df = df.drop(columns=['Unnamed: 0', 'Cover'])
df

,Title Name,Language,Released,Rating,IMDb
0,#Alive,Korean,2020,TV-MA,6.2/10
1,#AnneFrank - Parallel Stories,English,2019,TV-14,NaN
2,#FriendButMarried,Indonesian,2018,TV-G,7.1/10
3,#FriendButMarried 2,Indonesian,2020,TV-G,NaN
4,#realityhigh,English,2017,TV-14,5.2/10
...,...,...,...,...,...
75,Zozo,Arabic,2005,TV-MA,NaN
76,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,English,2019,TV-MA,7.4/10
77,'76,English,2016,TV-PG,NaN
78,'83,Hindi,2021,TV-14,NaN
79,"¡Ay, mi madre!",Spanish,2019,TV-MA,3.8/10

In [58]:
df = df.reset_index()

In [60]:
df = df.drop(columns=['index'])
df

,Title Name,Language,Released,Rating,IMDb
0,#Alive,Korean,2020,TV-MA,6.2/10
1,#AnneFrank - Parallel Stories,English,2019,TV-14,NaN
2,#FriendButMarried,Indonesian,2018,TV-G,7.1/10
3,#FriendButMarried 2,Indonesian,2020,TV-G,NaN
4,#realityhigh,English,2017,TV-14,5.2/10
...,...,...,...,...,...
4075,Zozo,Arabic,2005,TV-MA,NaN
4076,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,English,2019,TV-MA,7.4/10
4077,'76,English,2016,TV-PG,NaN
4078,'83,Hindi,2021,TV-14,NaN
4079,"¡Ay, mi madre!",Spanish,2019,TV-MA,3.8/10

In [64]:
df.to_csv('resources/netflix_movies.csv', index=False)