In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup as bs
import pandas as pd
import time

In [2]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get("https://www.hbo.com/movies/a-z")

html = driver.page_source

In [3]:
soup = bs(html, 'html.parser')

In [4]:
movie_names = soup.find_all('div', {"class": "card-title"})
movie_description = soup.find_all('div', {"class": "card-subtitle"})
movie_links = soup.find_all('a', {"class": "card-button"})

In [5]:
len(movie_names)

1443

In [6]:
len(movie_description)

1443

In [7]:
len(movie_links)

1421

In [8]:
driver.close()
driver.quit()

In [9]:
movie_descriptions = [x.text for x in movie_description]
movie_names = [x.text for x in movie_names]
movie_links = [f'https://www.hbo.com{x["href"]}' for x in movie_links]

In [12]:
df = pd.DataFrame(
    {
        "name": movie_names,
        "description": movie_descriptions,
    }
)
df.to_csv('resources/hbo_movies.csv', index=False)
df.head()

                     name                                        description
0    (500) Days of Summer  A romance between two young office employees i...
1  1, 2, 3 All Eyes on Me  A loving fourth-grade teacher gets caught in a...
2             10,000 B.C.  Experience the prehistoric past in this stunni...
3               12 Rounds  New Orleans cop John Cena must undergo a dozen...
4   12 Rounds 2: Reloaded  A hardworking EMT becomes a pawn in a criminal...